.poster {
  margin-left: 20px;
  color: #fff;
}
.posters {
  display: flex;
  padding: 20px;
}
.post {
  width: 200px;
  height: auto;
  padding: 10px;
  cursor: pointer;
  transition: 1s ease;
}
.post:hover {
  transform: scale(1.1);
  filter: blur(2px);
}
.type {
  padding-top: 10px;
  margin-left: 30px;
  color: rgb(113, 141, 141);
}
.poster-title {
  text-align: center;
  color: rgb(113, 141, 141);
}
